@using System.Security.Claims


<nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
    <div class="sb-sidenav-menu">
        <div class="nav">
            <div class="sb-sidenav-menu-heading">Ana Sayfa</div>
            @*   <a class="nav-link" asp-action="" asp-controller="" asp-area="">
                <div class="sb-nav-link-icon">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
                Spool Takip
            </a> *@

            @*          <a class="nav-link" asp-action="MyPersonelList" asp-controller="Home" asp-area="Admin">
                <div class="sb-nav-link-icon">
                    <i class="fa-solid fa-people-group"></i>
                </div>
                Çalışanlarım
            </a> *@



            @*       <a class="nav-link" asp-action="AllPersonelList" asp-controller="Home" asp-area="Admin">
                    <div class="sb-nav-link-icon">
                        <i class="fa-solid fa-people-group"></i>
                    </div>
                    Çalışanlar
                </a> *@
            @*    <a class="nav-link" asp-action="Index" asp-controller="AdminManagment" asp-area="Admin">
                    <div class="sb-nav-link-icon">
                        <i class="fa-solid fa-gears"></i>
                    </div>
                    Otomatik işlem Paneli
                </a> *@

            @* <div class="sb-sidenav-menu-heading">Admin / Yönetici</div> *@
            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                <div class="sb-nav-link-icon"><i class="fa-solid fa-user-tie"></i></div>
                Meslek Sayfaları
                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
            </a>
            <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                <nav class="sb-sidenav-menu-nested nav">
                    <a class="nav-link" asp-area="Admin" asp-controller="BranchAndEmployeeWork" asp-action="BranchList">sgk Branş</a>
                    <a class="nav-link" asp-area="Admin" asp-controller="BranchAndEmployeeWork" asp-action="EmployeeworkList">Şirket Branş</a>
                </nav>
            </div>

























            @* }  *@
            <!---->
            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts2" aria-expanded="false" aria-controls="collapseLayouts2">
                <div class="sb-nav-link-icon"><i class="fa-solid fa-user-tie"></i></div>
                Çalışma Sayfaları
                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
            </a>
            <div class="collapse" id="collapseLayouts2" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                <nav class="sb-sidenav-menu-nested nav">
                    <a class="nav-link" asp-action="Index" asp-controller="ShipYard" asp-area="Admin">Tersane & Atolye</a>
                    <a class="nav-link" asp-action="Index" asp-controller="CircuitList" asp-area="Admin">Proje</a>
                </nav>
            </div>

            <!---->
            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts3" aria-expanded="false" aria-controls="collapseLayouts3">
                <div class="sb-nav-link-icon"><i class="fa-solid fa-user-tie"></i></div>
                Personel Sayfaları
                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
            </a>
            <div class="collapse" id="collapseLayouts3" aria-labelledby="headingThree" data-bs-parent="#sidenavAccordion">
                <nav class="sb-sidenav-menu-nested nav">
                    <a class="nav-link" asp-action="" asp-controller="" asp-controller="">Personeller </a>

                </nav>
            </div>


            <!---->
            @*                 <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts4" aria-expanded="false" aria-controls="collapseLayouts4">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-user-tie"></i></div>
                    Atolye Sayfaları
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapseLayouts4" aria-labelledby="headingThree" data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" asp-action="" asp-controller="" asp-controller="">Boş Sayfa</a>

                    </nav>
                </div> *@


            <!---->
            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts5" aria-expanded="false" aria-controls="collapseLayouts5">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-user-tie"></i></div>
                Kullanıcı Sayfaları
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapseLayouts5" aria-labelledby="headingThree" data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                    <a class="nav-link" asp-action="" asp-controller="" asp-controller="">Ana Sayfa</a>
                    <a class="nav-link" asp-action="" asp-controller="" asp-controller="">  Hakkımızda</a>
                    <a class="nav-link" asp-action="" asp-controller="" asp-controller="">  Projelerimiz</a>
                    <a class="nav-link" asp-action="" asp-controller="" asp-controller="">  Takım</a>
                    <a class="nav-link" asp-action="" asp-controller="" asp-controller="">  Referanslar</a>
                    <a class="nav-link" asp-action="" asp-controller="" asp-controller="">  iletişim</a>

                </nav>
            </div>
 

        </div>
    </div>



















</nav>