@{
	ViewData["Title"] = "Hakkımızda";
}

<style>
	h3 {
		color: #7FB0D1
	}
</style>
<div class="row">
	<div class="col-7">
		<h3>Hedeflerimiz</h3>
		<hr />
		<p>
			ürün ve hizmet kalitesiniden ödün vermeden , müşterilerine en iyi hizmeti sunmayı ;
			<br />

			yapmış olduğu projelere katma değer sağlayan, üretken ve yenilikçi yönünü kullanarak sektörde öncü ve lider konuma gelmeyi;
			<br />
			uzman ve deneyimli kadrosu ile kaliteli hizmet ve rekabetçi fiyatlarıyla müşterilerimizin
			<br />
			tüm Proje , taahhüt ,Danışmanlık ihtiyaçlarından gerçek " çözüm ortağı " olmayı;
			Hedeflemektedir.
		</p>
	</div>
	<div class="col-5">
		<img class="col-8" src="~/Template/img/hedef.png" alt="Alternate Text" />
	</div>




	<div class="col-3">
		<img class="col-11" src="~/Template/img/value.png" alt="Alternate Text" />
	</div>

	<div class="col-9" style="margin-left:-100px;">
		<h3>Değerlerimiz</h3>
		<hr />
		<p>
			<ul>
				<li>
					Üretkenlik : Aldığımız projelerde katma değer oluşturarak en uygun çözümü ve en yüksek verimi sağlamak.
				</li>
				<li>
					Güvenilirlik: müşterilerimizin sürekli destek alabileceği güven veren bir firma olmak.
				</li>
				<li>
					Yenilikçilik: her işten kazandığı tecrübe ile sürekli kendini geliştirebilien yenilikçi bir firma olmaktır.
				</li>
			</ul>

			<br />

		</p>
	</div>


</div>




<div>
	<h3>Vizyonumuz</h3>
	<hr />
	<div class="row">


		<p class="col-8">
			işveren ve çalışan tarafından ilk tercih edilen boru donatım firması olmak,
			<br />
			işverenlerimize en güvenilir ve en kaliteli hizmeti sunmaktır.
			<br />
			faliyet gösterdiğimiz alanlarda,nerede ve hangi koşulda olursa olsun.
			<br />
			en iyi performansı göstererek tüm işlerimizzi aynı anda yüksek kalitede tamamlamaktır.
			<br />

			çalışanlarımız ile birlikte :
			<br />
			her yeni işi yeni bir başlangıç sayarak,
			yeniden inceleme çalışma ve değerlendirmeler yaparak hep daha iyiyi
			ve daha mükemmeli hedeflemekteyiz.
		</p>
		<div class="col-4">
			<img class="col-8" src="~/Template/img/vizyon.png" alt="Alternate Text" />
		</div>
	</div>

</div>

<p class="col-12">
	Gemi inşa sektöründe hizmet veren firmamız çalışma politakasını , işverenlerimize özgün tasarımlar üretmek:
	dünyada marine sektöründeki her türlü yeniliği takip edip  işverenlerimize uygulama projeleri geliştirmek:
	kurumsal yapısını sürekli geliştirme ile bütünleştirip,
	bilgi ve tecrübesine hep daha iyiyi üretmek adına kullanmak : müşteri memnuyetini hep en üst düzeyde tutup fark yaratmak ;
	çalışmalarını gelişime ve yaratıcı düşnceye değer vermek ve değer katmak temelleri üzerine kurmuştur.

	<br />
	Kalaycı Denizcilik olarak , uluslararası kalite standartlarında yaratıcı ve güvenilir mühendislik çözümleri sunuyoruz.
	kurumsal değerlerimizi benimsemiş yüksek motivasyona sahip, dinamik , güçlü ve işine tutkuyla bağlı ekip ruhumuzu sürekli kılmayı hedefleriyoruz . Dünya genelinde hizmet. bveren marine donatım
	firmaları arasında en iyi ve yenilikçi firmalaradan biri olmayı ve yeni projelere imza atmayı hedefleriyoruz.
</p>



<script>
	const  link = document.getElementById("about");
	link.classList.add("active");

</script>