@{
    ViewData["Title"] = "";
}





@section Carousel {
    <!-- Carousel Start -->
    <div class="container-fluid p-0 mb-6 wow fadeIn" data-wow-delay="0.1s">
        <div id="header-carousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#header-carousel" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1">
                    <img class="img-fluid" src="~/Template/img/carousel-1.jpg" alt="Image">
                </button>
                <button type="button" data-bs-target="#header-carousel" data-bs-slide-to="1" aria-label="Slide 2">
                    <img class="img-fluid" src="~/Template/img/carousel-2.jpg" alt="Image">
                </button>
                <button type="button" data-bs-target="#header-carousel" data-bs-slide-to="2" aria-label="Slide 3">
                    <img class="img-fluid" src="~/Template/img/carousel-3.jpg" alt="Image">
                </button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="w-100" src="~/Template/img/carousel-1.jpg" alt="Image">
                    <div class="carousel-caption">
                        <h1 class="display-2 text-uppercase text-white mb-4 animated zoomIn">
                            Kalaycı Denizcilik olarak
                        </h1>
                        <h4 class=" text-white mb-4 animated zoomIn">
                            uluslararası kalite standartlarında yaratıcı ve güvenilir mühendislik çözümleri sunuyoruz.
                        </h4>
                        <a asp-action="about" asp-controller="home" class="btn btn-primary py-3 px-4">Daha Fazlası</a>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="w-100" src="~/Template/img/carousel-2.jpg" alt="Image">
                    <div class="carousel-caption">
                        <h1 class="display-2 text-uppercase text-white mb-4 animated zoomIn">
                            projelerimizde
                        </h1>
                        <h4 class=" text-white mb-4 animated zoomIn">

                            katma değer sağlayan,  üretken ve yenilikçi yönünü kullanarak sektörde öncü ve lider konuma gelmeyi hedefliyoruz
                        </h4>

                        <a asp-action="about" asp-controller="home" class="btn btn-primary py-3 px-4">  Daha Fazlası</a>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="w-100" src="~/Template/img/carousel-3.jpg" alt="Image">
                    <div class="carousel-caption">
                        <h1 class="display-2 text-uppercase text-white mb-4 animated zoomIn">
                            Firmamızın politikası
                        </h1>
                        <h4 class=" text-white mb-4 animated zoomIn">

                            işverenlerimize özgün tasarımlar üretmek: dünyada marine sektöründeki her türlü yeniliği takip edip işverenlerimize uygulama projeleri geliştirmek:
                        </h4>

                        <a asp-action="about" asp-controller="home" class="btn btn-primary py-3 px-4">  Daha Fazlası</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Carousel End -->
}


<!-- About Start -->
<div class="container">
    <div class="row g-5">
        <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
            <div class="about-img">
                <img class="img-fluid w-100" src="~/Template/img/aboutAhmed.png">
            </div>
        </div>
        <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
            <h1 class="display-6 text-uppercase mb-4">Gemi inşaat Boru Donatım Mühendisiliği</h1>
            <p class="mb-4">
                işverenlerimize en güvenilir ve en kaliteli hizmeti sunmakla birlikte.
                faliyet gösterdiğimiz alanlarda,nerede ve hangi koşulda olursa olsun.
                en iyi performansı göstererek tüm işlerimizzi aynı anda yüksek kalitede tamamlamaktır vizyonnumuz.
            </p>
            <div class="row g-5 mb-4">
                <div class="col-sm-6">
                    <div class="d-flex align-items-center">
                        <div class="flex-shrink-0 btn-xl-square bg-light me-3">
                            <i class="fa fa-users-cog fa-2x text-primary"></i>
                        </div>
                        <h5 class="lh-base text-uppercase mb-0">Güvenilir &  Uzman Ekip</h5>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="d-flex align-items-center">
                        <div class="flex-shrink-0 btn-xl-square bg-light me-3">
                            <i class="fa fa-tachometer-alt fa-2x text-primary"></i>
                        </div>
                        <h5 class="lh-base text-uppercase mb-0">Hızlı & Kaliteli Servis</h5>
                    </div>
                </div>
            </div>
            <p>
                <i class="fa fa-check-square text-primary me-3"></i>İmalat ve Montaj ekiplerimiz Çalışmaya Hazır
            </p>
            <p>
                <i class="fa fa-check-square text-primary me-3"></i>Tam Donanımlı Mühendis Kadromuz Çalışmaya Hazır
            </p>
            <p>
                <i class="fa fa-check-square text-primary me-3"></i>Tecrübeli Yönetim Ekibimiz Çalışmaya Hazır
            </p>
            <div class="border border-5 border-primary p-4 text-center mt-4">
                <h4 class="lh-base text-uppercase mb-0">uluslararası kalite standartlarında yaratıcı ve güvenilir mühendislik çözümleri sunuyoruz.</h4>
            </div>
        </div>
    </div>
</div>
</div>
<!-- About End -->
<!-- Features Start -->
<div class="container-fluid pt-6 pb-6">
    <div class="container pt-4">
        <div class="row g-0 feature-row wow fadeIn" data-wow-delay="0.1s">
            <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.3s">
                <div class="feature-item border h-100">
                    <div class="feature-icon btn-xxl-square bg-primary mb-4 mt-n4">
                        <i class="fa fa-hammer fa-2x text-white"></i>
                    </div>
                    <div class="p-5 pt-0">
                        <h5 class="text-uppercase mb-3"> Kalite</h5>
                        <p>Kalite, rakiplerimizden değil, kendi standartlarımızdan üstün olmaktır.</p>
                        <a class="position-relative text-body text-uppercase small d-flex justify-content-between"
                           asp-controller="home" asp-action="about">
                            <b class="bg-white pe-3">  Daha Fazlası</b> <i class="bi bi-arrow-right bg-white ps-3"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.4s">
                <div class="feature-item border h-100">
                    <div class="feature-icon btn-xxl-square bg-primary mb-4 mt-n4">

                        <i class="fa fa-solid fa-briefcase fa-2x text-white"></i>
                        @* <i class="fa fa-dollar-sign fa-2x text-white"></i> *@
                    </div>
                    <div class="p-5 pt-0">
                        <h5 class="text-uppercase">Üretkenlik</h5>
                        <p>Aldığımız projelerde katma değer oluşturarak en uygun çözümü ve en yüksek verimi sağlamak..</p>
                        <a class="position-relative text-body text-uppercase small d-flex justify-content-between"
                           asp-controller="home" asp-action="about">
                            <b class="bg-white pe-3">  Daha Fazlası</b> <i class="bi bi-arrow-right bg-white ps-3"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.5s">
                <div class="feature-item border h-100">
                    <div class="feature-icon btn-xxl-square bg-primary mb-4 mt-n4">
                        <i class="fa fa-check-double fa-2x text-white"></i>
                    </div>
                    <div class="p-5 pt-0">
                        <h5 class="text-uppercase">Güvenilirlik</h5>
                        <p> müşterilerimizin sürekli destek alabileceği güven veren ileri görüşlü yenilikçi bir firma olmak.</p>
                        <a class="position-relative text-body text-uppercase small d-flex justify-content-between"
                           asp-controller="home" asp-action="about">
                            <b class="bg-white pe-3">  Daha Fazlası</b> <i class="bi bi-arrow-right bg-white ps-3"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.6s">
                <div class="feature-item border h-100">
                    <div class="feature-icon btn-xxl-square bg-primary mb-4 mt-n4">
                        <i class="fa fa-tools fa-2x text-white"></i>
                    </div>
                    <div class="p-5 pt-0">
                        <h5 class="text-uppercase">Çalışma Prensibi</h5>
                        <p>her yeni işi yeni bir başlangıç sayarak, yeniden inceleme çalışma ve değerlendirmeler yaparak hep daha iyiyi ve daha mükemmeli hedeflemekteyiz.</p>
                        <a class="position-relative text-body text-uppercase small d-flex justify-content-between"
                           asp-controller="home" asp-action="about">
                            <b class="bg-white pe-3">Daha Fazlası</b> <i class="bi bi-arrow-right bg-white ps-3"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Features End --> 

<script>
    const  link = document.getElementById("index");
    link.classList.add("active");

</script>