
@{
    ViewData["Title"] = "Referanslarımız ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    body {
        background-color: #E9F7FB;
    }
</style>
<br />
<br />
@* <marquee  ><h2 class="alert alert-info h1" style="border-radius:10px;">Bu Sayfa Tasarım Aşamasındadır.</h2></marquee> *@

<div class="d-flex justify-content-around my-5">
    <h2 class="h2 col-5" style="margin-top:150px;">Bu Sayfa Tasarım Aşamasındadır.</h2>
    <img alt="Resim Bulunamadı" src="~/giff/work.gif" class="col-3" />
    <h2 class=" h2 col-4" style="margin-top:150px;">Daha Sonra Tekrar Deneyiniz.</h2>
</div>
<marquee><h2 class="alert alert-info h1 my-5" style="border-radius:10px;">Bu Sayfa Tasarım Aşamasındadır. Daha sonra Tekrar deneyiniz</h2></marquee>





<script>
    const  link = document.getElementById("referance");
    link.classList.add("active");

</script>