@{
    ViewData["Title"] = "Ticari Gemilerimiz ";
}<!-- Page Header Start -->
<div class="container-fluid page-header pt-5 mb-6 wow fadeIn" data-wow-delay="0.1s">
    <div class="container text-center pt-5">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class=" p-5">
                    <h1 class="text-white display-6 text-uppercase mb-3 animated slideInDown">Projelerimiz</h1>
                    <nav aria-label="breadcrumb animated slideInDown">
                        <hr />
                        <ol class="breadcrumb justify-content-center mb-0">

                            <li class="breadcrumb-item "><a class="text-white h4" asp-controller="home" asp-action="ServiceTrading">Ticari Gemiler</a></li>
                            <li class="breadcrumb-item "><a class="text-primary" asp-controller="home" asp-action="ServiceMilitary">Askeri Gemiler</a></li>
                            <li class="breadcrumb-item "><a class="text-primary" asp-controller="home" asp-action="ServiceYacht">Yatlar</a></li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page Header End -->
<!-- Service Start -->
<div class="container-fluid service pt-6 pb-6">
    <div class="container">
        <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <h1 class="display-6 text-uppercase mb-5">Ticari Proje Alanında Tecrüblerimiz.</h1>
        </div>
        <div class="row g-4 justify-content-around">
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item">
                    <div class="service-inner pb-5">
                        <img class="img-fluid w-100" style="height:175px;" src="~/Template/img/ship/ym_neptune.jpg" alt="">
                        <div class="service-text px-5 pt-4">
                            <h5 class="text-uppercase">
                                YM NEPTUNE
                            </h5>
                            <p>
                                Kimyasal Tanker
                            </p>
                        </div>
                        <a class="btn btn-light px-3" href="">
                            Marmara Tersanesi A.Ş <i class="bi bi-chevron-double-right ms-1"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                <div class="service-item">
                    <div class="service-inner pb-5">
                        <img class="img-fluid w-100" style="height:175px;" src="~/Template/img/ship/ym_jupiter.jpeg" alt="">
                        <div class="service-text px-5 pt-4">
                            <h5 class="text-uppercase">
                                YM JUPITER
                            </h5>
                            <p>
                                Kimyasal Tanker
                            </p>
                        </div>
                        <a class="btn btn-light px-3" href="">
                            Marmara Tersanesi A.Ş<i class="bi bi-chevron-double-right ms-1"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item">
                    <div class="service-inner pb-5">
                        <img class="img-fluid w-100" style="height:175px;" src="~/Template/img/ship/ym_saturun.webp" alt="">
                        <div class="service-text px-5 pt-4">
                            <h5 class="text-uppercase">
                                YM SATURN
                            </h5>
                            <p>
                                Kimyasal Tanker
                            </p>
                        </div>
                        <a class="btn btn-light px-3" href="">
                            Marmara Tersanesi A.Ş  <i class="bi bi-chevron-double-right ms-1"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
                <div class="service-item">
                    <div class="service-inner pb-5">
                        <img class="img-fluid w-100" style="height:175px;" src="~/Template/img/ship/ym_uranus.jpg" alt="">
                        <div class="service-text px-5 pt-4">
                            <h5 class="text-uppercase">
                                YM URANUS
                            </h5>
                            <p>
                                Kimyasal Tanker
                            </p>
                        </div>
                        <a class="btn btn-light px-3" href="">
                            Marmara Tersanesi A.Ş<i class="bi bi-chevron-double-right ms-1"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item">
                    <div class="service-inner pb-5">
                        <img class="img-fluid w-100" style="height:175px;" src="~/Template/img/ship/duzgit_integrrity.jpeg" alt="">
                        <div class="service-text px-5 pt-4">
                            <h5 class="text-uppercase">
                                DUZGIT INTEGRITY
                            </h5>
                            <p>
                                Kimyasal Tanker
                            </p>
                        </div>
                        <a class="btn btn-light px-3" href="">
                            Marmara Tersanesi A.Ş<i class="bi bi-chevron-double-right ms-1"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                <div class="service-item">
                    <div class="service-inner pb-5">
                        <img class="img-fluid w-100" style="height:175px;" src="~/Template/img/ship/ym_pluto.jpeg" alt="">
                        <div class="service-text px-5 pt-4">
                            <h5 class="text-uppercase">
                                YM PLUTO
                            </h5>
                            <p>
                                Kimyasal Tanker
                            </p>
                        </div>
                        <a class="btn btn-light px-3" href="">
                            Marmara Tersanesi A.Ş<i class="bi bi-chevron-double-right ms-1"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item">
                    <div class="service-inner pb-5">
                        <img class="img-fluid w-100" style="height:175px;" src="~/Template/img/ship/ym_mercury.webp" alt="">
                        <div class="service-text px-5 pt-4">
                            <h5 class="text-uppercase">
                                YM MERCURY
                            </h5>
                            <p>
                                Kimyasal Tanker
                            </p>
                        </div>
                        <a class="btn btn-light px-3" href="">
                            Marmara Tersanesi A.Ş<i class="bi bi-chevron-double-right ms-1"></i>
                        </a>
                    </div>
                </div>
            </div>



            <!---Resim Eklenecek --->
            <!---Resim Eklenecek --->
            <!---Resim Eklenecek --->
            <!---Resim Eklenecek --->
            <!---Resim Eklenecek --->
            <!---Resim Eklenecek --->

            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item">
                    <div class="service-inner pb-5">
                        <img class="img-fluid w-100" style="height:175px;" src="~/Template/img/ship/nb_083.png" alt="">
                        <div class="service-text px-5 pt-4">
                            <h5 class="text-uppercase">
                                NB 083
                            </h5>
                            <p>
                                Kimyasal Tanker
                            </p>
                        </div>
                        <a class="btn btn-light px-3" href="">
                            Marmara Tersanesi A.Ş<i class="bi bi-chevron-double-right ms-1"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item">
                    <div class="service-inner pb-5">
                        <img class="img-fluid w-100" style="height:175px;" src="~/Template/img/ship/nb_086.jpg" alt="">
                        <div class="service-text px-5 pt-4">
                            <h5 class="text-uppercase">
                                NB 086
                            </h5>
                            <p>
                                Kuru Yük Gemisi
                            </p>
                        </div>
                        <a class="btn btn-light px-3" href="">
                            Marmara Tersanesi A.Ş<i class="bi bi-chevron-double-right ms-1"></i>
                        </a>
                    </div>
                </div>
            </div>


            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item">
                    <div class="service-inner pb-5">
                        <img class="img-fluid w-100" style="height:175px;" src="~/Template/img/ship/nb_087.jpg" alt="">
                        <div class="service-text px-5 pt-4">
                            <h5 class="text-uppercase">
                                NB 087
                            </h5>
                            <p>
                                Kuru Yük Gemisi
                            </p>
                        </div>
                        <a class="btn btn-light px-3" href="">
                            Marmara Tersanesi A.Ş<i class="bi bi-chevron-double-right ms-1"></i>
                        </a>
                    </div>
                </div>
            </div>


            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item">
                    <div class="service-inner pb-5">
                        <img class="img-fluid w-100" style="height:175px;" src="~/Template/img/ship/nb_088.jpg" alt="">
                        <div class="service-text px-5 pt-4">
                            <h5 class="text-uppercase">
                                NB 088
                            </h5>
                            <p>
                                Kuru Yük Gemisi
                            </p>
                        </div>
                        <a class="btn btn-light px-3" href="">
                            Marmara Tersanesi A.Ş<i class="bi bi-chevron-double-right ms-1"></i>
                        </a>
                    </div>
                </div>
            </div>





            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item">
                    <div class="service-inner pb-5">
                        <img class="img-fluid w-100" style="height:175px;" src="~/Template/img/ship/er_06.jpg" alt="">
                        <div class="service-text px-5 pt-4">
                            <h5 class="text-uppercase">
                                ER 06
                            </h5>
                            <p>
                                Kimyasal Tanker
                            </p>
                        </div>
                        <a class="btn btn-light px-3" href="">
                            Med Marine Shipyard<i class="bi bi-chevron-double-right ms-1"></i>
                        </a>
                    </div>
                </div>
            </div>






            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item">
                    <div class="service-inner pb-5">
                        <img class="img-fluid w-100" style="height:175px;" src="~/Template/img/ship/er_10.jpg" alt="">
                        <div class="service-text px-5 pt-4">
                            <h5 class="text-uppercase">
                                ER 10
                            </h5>
                            <p>
                                Kimyasal Tanker
                            </p>
                        </div>
                        <a class="btn btn-light px-3" href="">
                            Med Marine Shipyard<i class="bi bi-chevron-double-right ms-1"></i>
                        </a>
                    </div>
                </div>
            </div>




        </div>
    </div>
</div>
<!-- Service End -->




<script>
    const  link = document.getElementById("service");
    link.classList.add("active");

</script>