@{
    ViewData["Title"] = "Askeri Gemilerimiz ";
}<!-- Page Header Start -->
<div class="container-fluid page-header pt-5 mb-6 wow fadeIn" data-wow-delay="0.1s">
    <div class="container text-center pt-5">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class=" p-5">
                    <h1 class="text-white display-6 text-uppercase mb-3 animated slideInDown">Projelerimiz</h1>
                    <nav aria-label="breadcrumb animated slideInDown">
                        <hr />
                        <ol class="breadcrumb justify-content-center mb-0">

                            <li class="breadcrumb-item "><a class="text-primary" asp-controller="home" asp-action="ServiceTrading">Ticari Gemiler</a></li>
                            <li class="breadcrumb-item "><a class="text-white h4" asp-controller="home" asp-action="ServiceMilitary">Askeri Gemiler</a></li>
                            <li class="breadcrumb-item "><a class="text-primary" asp-controller="home" asp-action="ServiceYacht">Yatlar</a></li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page Header End -->
<!-- Service Start -->
<div class="container-fluid service pt-6 pb-6 ">
    <div class="container ">
        <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <h1 class="display-6 text-uppercase mb-5">Askeri Proje Alanında Tecrüblerimiz.</h1>
        </div>
        <div class="row g-4 justify-content-around">
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item">
                    <div class="service-inner pb-5">
                        <img class="img-fluid w-100" style="height:180px;" src="~/Template/img/ship/DOST-701.jpg" alt="">
                        <div class="service-text px-5 pt-4">
                            <h5 class="text-uppercase">
                                Sahil Güvenlik Arama Kurtarma
                            </h5>
                            <p>
                                701-702-703-704
                            </p>
                        </div>
                        <a class="btn btn-light px-3" href="">
                            RMK Marine <i class="bi bi-chevron-double-right ms-1"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                <div class="service-item">
                    <div class="service-inner pb-5">
                        <img class="img-fluid w-100" style="height:180px;" style="height:180px;" style="height:180px;" src="~/Template/img/ship/L402.jpg" alt="">
                        <div class="service-text px-5 pt-4">
                            <h5 class="text-uppercase">
                                AMFİBİ ÇIKARMA GEMİLERİ
                            </h5>
                            <p>
                                2 Adet L402
                            </p>
                        </div>
                        <a class="btn btn-light px-3" href="">
                            A.D.İ.K TERSANESİ<i class="bi bi-chevron-double-right ms-1"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item">
                    <div class="service-inner pb-5">
                        <img class="img-fluid w-100" style="height:180px;" src="~/Template/img/ship/korvet.jpg" alt="">
                        <div class="service-text px-5 pt-4">
                            <h5 class="text-uppercase">
                                92M KORVET
                            </h5>
                            <p>
                                Korvet
                            </p>
                        </div>
                        <a class="btn btn-light px-3" href="">
                            DEARSAN TERSANESİ<i class="bi bi-chevron-double-right ms-1"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item">
                    <div class="service-inner pb-5">
                        <img class="img-fluid w-100" style="height:180px;" src="~/Template/img/ship/salvo.jpg" alt="">
                        <div class="service-text px-5 pt-4">
                            <h5 class="text-uppercase">
                                SİDA
                            </h5>
                            <p>
                                insansız deniz aracı
                            </p>
                        </div>
                        <a class="btn btn-light px-3" href="">
                            DEARSAN TERSANESİ<i class="bi bi-chevron-double-right ms-1"></i>
                        </a>
                    </div>
                </div>
            </div>


            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item">
                    <div class="service-inner pb-5">
                        <img class="img-fluid w-100" style="height:180px;" src="~/Template/img/ship/opv.jpg" alt="">
                        <div class="service-text px-5 pt-4">
                            <h5 class="text-uppercase">
                                OPV
                            </h5>
                            <p>
                                Açık Deniz Karakol Botu
                            </p>
                        </div>
                        <a class="btn btn-light px-3" href="">
                            DEARSAN TERSANESİ<i class="bi bi-chevron-double-right ms-1"></i>
                        </a>
                    </div>
                </div>
            </div>




            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item">
                    <div class="service-inner pb-5">
                        <img class="img-fluid w-100" style="height:180px;" src="~/Template/img/ship/tskv.jpg" alt="">
                        <div class="service-text px-5 pt-4">
                            <h5 class="text-uppercase">
                                TSKB
                            </h5>
                            <p>
                                Açık Deniz Karakol Botu
                            </p>
                        </div>
                        <a class="btn btn-light px-3" href="">
                            DEARSAN TERSANESİ<i class="bi bi-chevron-double-right ms-1"></i>
                        </a>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
<!-- Service End -->





<script>
    const  link = document.getElementById("service");
    link.classList.add("active");

</script>