  <!-- Page Header Start -->
<div class="container-fluid page-header pt-5 mb-6 wow fadeIn" data-wow-delay="0.1s">
    <div class="container text-center pt-5">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="p-5">
                    <h1 class="text-primary display-6 text-uppercase mb-3 animated slideInDown">Takım</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page Header End --> <!-- Team Start -->
<div class="container-fluid team pt-1 pb-3">
    <div class="container">
        <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <h1 class="display-6 text-uppercase mb-5">Profosyonel Ekibimiz.</h1>
        </div>




        <div class="row g-4 d-flex justify-content-around">

            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="team-item">
                    <div class="position-relative overflow-hidden">
                        <img class="img-fluid w-100" src="~/Template/img/Team/DefaultMan.png" alt="">
                        <div class="team-social">
                            <a class="btn btn-square btn-dark mx-1" target="_blank" href="https://www.linkedin.com/in/ahmed-orhan-2684091b1/">
                                <i class="fab fa-linkedin-in">
                                </i>
                            </a>
                        </div>
                    </div>
                    <div class="text-center p-4">
                        <h5 class="mb-1">Abdurrahman Kalaycı </h5>
                        <span>Genel Müdür</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="team-item">
                    <div class="position-relative overflow-hidden">
                        <img class="img-fluid w-100" src="~/Template/img/Team/ahmed.png" alt="">
                        <div class="team-social">
                            <a class="btn btn-square btn-dark mx-1" target="_blank" href="https://www.linkedin.com/in/ahmed-orhan-2684091b1/">
                                <i class="fab fa-linkedin-in">
                                </i>
                            </a>
                        </div>
                    </div>
                    <div class="text-center p-4">
                        <h5 class="mb-1">Ahmed Orhan</h5>
                        <span>Üretim Koordinatörü</span>
                    </div>
                </div>
            </div>




            <hr />

            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s" style="margin-left:-30px;">
                <div class="team-item">
                    <div class="position-relative overflow-hidden">
                        <img class="img-fluid w-100" src="~/Template/img/Team/Süleyman.png" alt="">
                        <div class="team-social">
                            <a class="btn btn-square btn-dark mx-1" target="_blank" href="">
                                <i class="fab fa-linkedin-in">
                                </i>
                            </a>
                        </div>
                    </div>
                    <div class="text-center p-4">
                        <h5 class="mb-1">Süleyman Kalaycı</h5>
                        <span>Firma Temsilcisi</span>
                    </div>
                </div>
            </div>


            <hr />

            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
                <div class="team-item">
                    <div class="position-relative overflow-hidden">
                        <img class="img-fluid w-100" src="~/Template/img/Team/coskun.png" alt="">
                        <div class="team-social">

                            <a class="btn btn-square btn-dark mx-1" target="_blank" href=""><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div class="text-center p-4">
                        <h5 class="mb-1">Coşkun Albayrak</h5>
                        <span>Atolye Şefi </span>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="team-item">
                    <div class="position-relative overflow-hidden">
                        <img class="img-fluid w-100" src="~/Template/img/Team/Mutlu.png" alt="">
                        <div class="team-social">
                            <a class="btn btn-square btn-dark mx-1" target="_blank" href="https://www.linkedin.com/in/mutlu-yavuz-972950370/"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div class="text-center p-4">
                        <h5 class="mb-1">Mutlu Yavuz </h5>
                        <span>  Atolye Üretim Şefi </span>
                    </div>
                </div>
            </div>
















            <hr />
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
                <div class="team-item">
                    <div class="position-relative overflow-hidden">
                        <img class="img-fluid w-100" src="~/Template/img/Team/Zafer.png" alt="">
                        <div class="team-social">

                            <a class="btn btn-square btn-dark mx-1" target="_blank" href="https://www.linkedin.com/in/zafer-gencal-b71956190/"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div class="text-center p-4">
                        <h5 class="mb-1">Zafer Gencal</h5>
                        <span>Proje Sorumlusu (Mühendis) </span>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="team-item">
                    <div class="position-relative overflow-hidden">
                        <img class="img-fluid w-100" src="~/Template/img/Team/hasan.png" alt="">
                        <div class="team-social">
                            <a class="btn btn-square btn-dark mx-1" target="_blank" href="https://www.linkedin.com/in/hasan-kele%C5%9F-230775365/"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div class="text-center p-4">
                        <h5 class="mb-1">Hasan Keleş</h5>
                        <span>  Proje Sorumlusu (Mühendis)</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="team-item">
                    <div class="position-relative overflow-hidden">
                        <img class="img-fluid w-100" src="~/Template/img/Team/yasin.png" alt="">
                        <div class="team-social">
                            <a class="btn btn-square btn-dark mx-1" target="_blank" href="https://www.linkedin.com/in/yasin-y%C4%B1lmaz-82a272175/"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div class="text-center p-4">
                        <h5 class="mb-1">Yasin Yılmaz</h5>
                        <span>  Proje Sorumlusu (Mühendis)</span>
                    </div>
                </div>
            </div>






            <hr />


         @*    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
                <div class="team-item">
                    <div class="position-relative overflow-hidden">
                        <img class="img-fluid w-100" src="~/Template/img/Team/ümit.png" alt="">
                        <div class="team-social">
                            <a class="btn btn-square btn-dark mx-1" target="_blank" href=""><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div class="text-center p-4">
                        <h5 class="mb-1">Ümit Bitkay</h5>
                        <span>Mühendis</span>
                    </div>
                </div>
            </div> *@

            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
                <div class="team-item">
                    <div class="position-relative overflow-hidden">
                        <img class="img-fluid w-100" src="~/Template/img/Team/Sezer.png" alt="">
                        <div class="team-social">
                            <a class="btn btn-square btn-dark mx-1" target="_blank" href=""><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div class="text-center p-4">
                        <h5 class="mb-1">  Sezer Çelik</h5>
                        <span>Tekniker</span>
                    </div>
                </div>
            </div>


            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
                <div class="team-item">
                    <div class="position-relative overflow-hidden">
                        <img class="img-fluid w-100" src="~/Template/img/Team/Selami.png" alt="">
                        <div class="team-social">
                            <a class="btn btn-square btn-dark mx-1" target="_blank" href="https://www.linkedin.com/in/abdurrahman-kalayc%C4%B1-47b18a358/"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div class="text-center p-4">
                        <h5 class="mb-1">Selami Korkmaz</h5>
                        <span>Tekniker</span>
                    </div>
                </div>
            </div>

            <hr />










            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
                <div class="team-item">
                    <div class="position-relative overflow-hidden">
                        <img class="img-fluid w-100" src="~/Template/img/Team/hakan.png" alt="">
                        <div class="team-social">
                            <a class="btn btn-square btn-dark mx-1" target="_blank" href="https://www.linkedin.com/in/hakan-baran-%C3%A7akir-801570215/"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div class="text-center p-4">
                        <h5 class="mb-1">Hakan Baran Çakır</h5>
                        <span>Bilgi işlem</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
                <div class="team-item">
                    <div class="position-relative overflow-hidden">
                        <img class="img-fluid w-100" src="~/Template/img/Team/DefaultWomen.png" alt="">
                        <div class="team-social">
                            <a class="btn btn-square btn-dark mx-1" target="_blank" href="https://www.linkedin.com/in/hakan-baran-%C3%A7akir-801570215/"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div class="text-center p-4">
                        <h5 class="mb-1">Hanife Yılmaz</h5>
                        <span>İnsan Kaynakları</span>
                    </div>
                </div>
            </div>



        </div>
    </div>
</div>
<!-- Team End -->

     









<script>
    const  link = document.getElementById("team");
    link.classList.add("active");

</script>